USE [master]
GO
/****** Object:  Database [UchetPropuskov]    Script Date: 30.01.2026 5:18:08 ******/
CREATE DATABASE [UchetPropuskov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UchetPropuskov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UchetPropuskov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UchetPropuskov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UchetPropuskov_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UchetPropuskov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UchetPropuskov]
GO
/****** Object:  Table [dbo].[Группы]    Script Date: 30.01.2026 5:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Группы](
	[ГруппаID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ГруппаID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ПользовательID] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](200) NOT NULL,
	[Логин] [nvarchar](100) NOT NULL,
	[Пароль] [nvarchar](200) NOT NULL,
	[Роль] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ПользовательID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предметы]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предметы](
	[ПредметID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ПредметID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пропуски]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пропуски](
	[ПропускID] [int] IDENTITY(1,1) NOT NULL,
	[СтудентID] [int] NOT NULL,
	[ПредметID] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[НомерПары] [tinyint] NOT NULL,
	[ТипПропускаID] [int] NOT NULL,
	[ВнесилПользовательID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ПропускID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Пропуск] UNIQUE NONCLUSTERED 
(
	[СтудентID] ASC,
	[ПредметID] ASC,
	[Дата] ASC,
	[НомерПары] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[СтудентID] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](200) NOT NULL,
	[ГруппаID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[СтудентID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипыПропусков]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипыПропусков](
	[ТипПропускаID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ТипПропускаID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Пропуски]  WITH CHECK ADD FOREIGN KEY([ВнесилПользовательID])
REFERENCES [dbo].[Пользователи] ([ПользовательID])
GO
ALTER TABLE [dbo].[Пропуски]  WITH CHECK ADD FOREIGN KEY([ПредметID])
REFERENCES [dbo].[Предметы] ([ПредметID])
GO
ALTER TABLE [dbo].[Пропуски]  WITH CHECK ADD FOREIGN KEY([СтудентID])
REFERENCES [dbo].[Студенты] ([СтудентID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пропуски]  WITH CHECK ADD FOREIGN KEY([ТипПропускаID])
REFERENCES [dbo].[ТипыПропусков] ([ТипПропускаID])
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD FOREIGN KEY([ГруппаID])
REFERENCES [dbo].[Группы] ([ГруппаID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD CHECK  (([Роль]=N'Преподаватель' OR [Роль]=N'Администратор'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ДобавитьИлиОбновитьПропуск]    Script Date: 30.01.2026 5:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ДобавитьИлиОбновитьПропуск]
    @СтудентID INT,
    @ПредметID INT,
    @Дата DATE,
    @НомерПары INT,
    @ТипПропускаID INT,
    @ВнесилПользовательID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM Пропуски
        WHERE СтудентID = @СтудентID
          AND ПредметID = @ПредметID
          AND Дата = @Дата
          AND НомерПары = @НомерПары
    )
    BEGIN
        UPDATE Пропуски
        SET ТипПропускаID = @ТипПропускаID,
            ВнесилПользовательID = @ВнесилПользовательID
        WHERE СтудентID = @СтудентID
          AND ПредметID = @ПредметID
          AND Дата = @Дата
          AND НомерПары = @НомерПары;
    END
    ELSE
    BEGIN
        INSERT INTO Пропуски
        (
            СтудентID,
            ПредметID,
            Дата,
            НомерПары,
            ТипПропускаID,
            ВнесилПользовательID
        )
        VALUES
        (
            @СтудентID,
            @ПредметID,
            @Дата,
            @НомерПары,
            @ТипПропускаID,
            @ВнесилПользовательID
        );
    END
END;
GO
USE [master]
GO
